header {
  background: var(--green-400);
  padding-top: clamp(48px, 9vw, 73px);
  .container {
    .left {
      gap: clamp(48px, 9vw, 80px);

      nav {
        gap: 40px;

        a {
          font-weight: 600;
          font-size: 18px;
          line-height: 28px;
          transition: color ease 0.3s;

          &:hover {
            color: var(--primary);
          }
        }
      }
    }
  }
}
