#stories {
  position: relative;
  background-color: var(--green-500);
  padding-block: 140px;

  @media (min-width: 576px) and (max-width: 767px) {
    padding-block: 100px;
  }

  .container {
    position: relative;
    z-index: 10;
    gap: clamp(48px, 10vw, 56px);

    h2 {
      max-width: 932px;

      span {
        color: var(--secondary);
      }
    }

    .box {
      @media (min-width: 768px) {
        padding-inline: 4px;
      }

      > p {
        margin-top: -20px;
      }

      .profile-data {
        margin-top: 1.5rem;

        @media (max-width: 767px) {
          margin-top: 1rem;
        }

        h4 {
          color: var(--secondary);
          font-weight: 700;
          font-size: 18px;
          line-height: 28px;
          margin-bottom: 2px;
        }

        p {
          font-weight: 500;
          font-size: 13px;
          line-height: 18px;
          font-style: italic;
        }

        img {
          width: 62px;
          border-radius: 50%;
          border: 2px solid #c4fffe;
          margin-top: 2rem;

          @media (max-width: 767px) {
            margin-top: 1rem;
          }
        }
      }
    }
  }

  > img:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
  }

  > img:nth-of-type(2) {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
