footer {
  background-color: var(--green-900);
  padding-block: 48px;

  @media (max-width: 767px) {
    padding-block: 56px;
  }

  @media (max-width: 575px) {
    padding-block: 65px;
  }

  .container {
    gap: 32px;

    @media (max-width: 575px) {
      gap: 40px;
    }

    .left {
      gap: clamp(50px, 10vw, 125px);

      @media (max-width: 575px) {
        gap: 24px;
      }

      img {
        @media (max-width: 767px) {
          width: 96px;
        }
      }

      nav {
        gap: 40px;

        @media (max-width: 767px) {
          gap: 24px;
        }

        a {
          font-weight: 600;
          font-size: 18px;
          line-height: 28px;
          transition: color ease 0.3s;

          &:hover {
            color: var(--primary);
          }
        }
      }

      > p {
        color: rgba(255, 255, 255, 0.6);
      }
    }

    .right {
      gap: 51px;

      @media (max-width: 575px) {
        gap: 1rem;
      }

      .social {
        img {
          transition: all ease 0.3s;
          cursor: pointer;
          padding: 4px;

          &:hover {
            border-radius: 50%;
            transform: scale(1.2);
            box-shadow: 0 0 15px 2px #f67e7e9d;
          }
        }
      }

      p {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}
